.label {
    -unity-font-definition: url("project://database/Assets/Fonts/Montserrat-Medium.ttf?fileID=12800000&guid=171e4b9d20a30c246a17a3bed408143e&type=3#Montserrat-Medium");
    font-size: 60px;
    -unity-text-align: upper-center;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
}

.button {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
