.semLight {
    transition-duration: 0.2s;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.semLightOff {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    transition-duration: 0.2s;
    transition-property: -unity-background-image-tint-color;
}
